doctype html
html
    head
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title= 'Org Explorer'
        link(rel="stylesheet" href=(appBaseUrl + '/styles/style.css'))
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet")
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet")
        link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")
    body
        .nav
        .contents
        script(type='text/javascript' src=(appBaseUrl + '/scripts/bundle.js'))
